/* profile */
.avatar-block img{
    width:160px;
    height:160px;
    border-radius: 12px;
}
.profile-block {
    background-color: #fff;
    border: 1px dashed #e4e6ef;
    padding: 2rem 2.25rem;
    border-radius:15px;
    margin-bottom: 15px;
}
.white-box {
    border-radius: 12px;
    padding:15px;
    background: #fff;
    margin-bottom: 20px;
}
.white-box .alert {
    margin-bottom: 0 
}